@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<br />
<br/>

<div class="center-block">
 <br />

<img class="center-block"  src="~/img/Register.png" >
<br />

<img class="center-block" src="~/img/Login.png" >
<br />

<img class="center-block" src="~/img/Inventory.png" >
<br />

<img class="center-block" src="~/img/~/img/Create.png.png"  >
<br />

<img class="center-block" src="~/img/Details.png" >
<br />

<img class="center-block" src="~/img/Search.png" >
<br />

<img class="center-block" src="~/img/User settings.png" >
<br />

<br />
</div>
    

