@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-4">Welcome to AssetTrack!</h1>

   <br />
    <br />
    <br />
    <br />
    <br />

   <h4 class="text-4">Please use the guide below to learn how to use and navigate around the app.</h4>
</div>
    
    
    
<br />

<br />


<div class="text-center">

<img   src="~/img/Register.png" width=80% height=80% >
<br />

<img  src="~/img/Login.png" width=80% height=80% >
<br />

<img  src="~/img/Inventory.png" width=80% height=80% >
<br />

<img  src="~/img/~/img/Create.png.png"  width=80% height=80% >
<br />

<img  src="~/img/Details.png" width=80% height=80% >
<br />

<img src="~/img/Search.png" width=80% height=80% >
<br />

<img  src="~/img/User settings.png" width=80% height=80% >
<br />

<br />
</div>
    

